*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/backEnd/.settings/
/backEnd/target/
/backEnd/.idea/
/backEnd/.classpath
/backEnd/capture.iml
/backEnd/.project
